*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'montserrat', sans-serif;
}

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.mountain{
    position: absolute;
    bottom: -100px;
    width: 100%;
    z-index: 19;
}

.stars{
    position: absolute;
    height: 100%;
    z-index: 18;

}

.sky{
    position: absolute;
    width:  100%;
    height: 100%;
    right: 0;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 30;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a.link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    
}

a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

}

a:hover {
    color: #7EDFCE;
    text-decoration: underline;
    text-transform: uppercase; 

}

a:active {
    color: #7EDFCE;
    text-decoration: underline;
    text-transform: uppercase; 

}

.big-title{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

H2{
    font-size: 2EM;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    color: #fff;
    font-weight: lighter;
}
H3{
    font-size: 1.5EM;
    margin-bottom: 0.67em;
    color: #fff;
    font-weight: lighter;
}

section{
    width: 100%;
    background-color: #000;
    position: relative;
}

section .container{
    padding: 3rem;
    height: auto;
    text-align: center;
}

.content{
    color: #fff;
    transform: translateY(-50px);

}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;

}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #000, transparent);
}
.container2 {
    display:flex;
    color: #fff;
    justify-content: space-evenly;
}
.flex-child {
    display: inline-block;
    padding: 1rem 1rem;
    width: 50%;
    align-self: center;
    text-align: left;

}
.homestead {
    position: relative;
    width: 30%;
}
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    opacity: 80%;
    color: white;
    width: 90%;
    padding: 20px 20px 20px 20px;
}

@media (max-width: 850px){
    .flex-child {
        width: 100%;
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
    .container2 {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .homestead {
        width: 70%;
        margin-bottom: 30px;
}
Footer
© 2022 sanctum Inc.
